vim/.config/nvim/autoload
vim/.config/nvim/backups
vim/.config/nvim/bundle
vim/.config/nvim/cache
vim/.config/nvim/Plug
vim/.config/nvim/swaps
vim/.config/nvim/undo
local/.local/share/wavebox/
local/.local/share/JetBrains/
local/.local/share
local/.local/run
local/.local/src/go/src
