$LOCAL_ETC/compton/reload && \
    notify-send -u low "compton reloaded successfully" || \
    notify-send -u low "failed to reload compton"; \
$LOCAL_ETC/dunst/reload ; \
    sleep 0.1 ; \

feh --bg-fill $(cat ~/.config/wallpaper)
xrdb ~/.Xresources
~/.config/polybar/reload
~/.config/termite/reload

sleep 0.5
notify-send "Config loaded" "{{.Name}}"
